<div>
    <h2 translate="misApp.lesson.home.title">Lessons</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row" has-authority="ROLE_ADMIN">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="lesson.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        translate="misApp.lesson.home.createLabel">Create new Lesson
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="misApp.lesson.start">Start</span></th>
                    <th><span translate="misApp.lesson.duration">Duration</span></th>
                    <th><span translate="misApp.lesson.room">Room</span></th>
                    <th><span translate="misApp.lesson.subjectEntry">subjectEntry</span></th>
                    <th><span translate="misApp.lesson.teacher">teacher</span></th>
                    <th><span translate="misApp.lesson.studentGroup">studentGroup</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lesson in lessons track by lesson.id">
                    <td><a ui-sref="lesson.detail({id:lesson.id})">{{lesson.id}}</a></td>
                    <td>{{lesson.start | date:'medium'}}</td>
                    <td>{{lesson.duration}}</td>
                    <td>{{lesson.room}}</td>
                    <td>
                        <a ui-sref="subjectEntry.detail({id:lesson.subjectEntry.id})">{{lesson.subjectEntry.subject.name}} ({{lesson.subjectEntry.subject.type}})</a>
                    </td>
                    <td>
                        <a ui-sref="teacher.detail({id:lesson.teacher.id})">{{lesson.teacher.user.firstName}} {{lesson.teacher.user.lastName}}</a>
                    </td>
                    <td>
                        <span ng-repeat="studentGroup in lesson.studentGroups">
                            <a class="form-control-static" ui-sref="studentGroup.detail({id: {{studentGroup.id}}})">{{studentGroup.name}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="lesson.detail({id:lesson.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lesson.edit({id:lesson.id})"
                                    class="btn btn-primary btn-sm"
                                    has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lesson.delete({id:lesson.id})"
                                    class="btn btn-danger btn-sm"
                                    has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
