<div>
    <style type="text/css">
        .well {
            padding: 0
        }
    </style>
    <div id="wrapper">
        <div id="left-sidebar-wrapper" class="sidebar-wrapper" ng-click="left()">
            <span class="glyphicon glyphicon-menu-left menu-glyphicon" aria-hidden="true"></span>
        </div>
        <div id="right-sidebar-wrapper" class="sidebar-wrapper" ng-click="right()">
            <span class="glyphicon glyphicon-menu-right menu-glyphicon" aria-hidden="true"></span>
        </div>
        <div id="page-content-wrapper">
            <div id="content-left">
                <div class="timetable-header">
                    <div class="header-cell">
                        Godzina
                    </div>
                </div>
                <div class="timetable-column interval-column">
                    <div class="column-cell" ng-repeat="interval in content.intervals"
                         ng-class="{'interval-type-break': interval.type == 'break'}"
                         ng-style="{'height': interval.height + 'px', 'line-height': interval.height + 'px'}">
                        <div class="interval-container" ng-if="interval.type == 'lesson'">
                            {{getFormattedTime(interval.start)}} - {{getFormattedTime(interval.end)}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="slider-wrapper">
                <div id="slider-content" ng-style="{width: sliderWidth + 'px', left: sliderOffset + 'px'}">
                    <div class="timetable-header">
                        <div class="header-cell" ng-style="{width: column.width + 'px'}"
                             ng-repeat="column in content.columns">
                            <span>{{column.header}}</span>
                            <span class="separator-vertical"></span>
                        </div>
                    </div>
                    <div class="timetable-layout">
                        <div class="timetable-column" ng-repeat="column in content.columns"
                             ng-style="{width: column.width + 'px'}">
                            <div class="column-cell" ng-repeat="entry in column.entries"
                                 ng-style="{height: cellHeight + 'px', background: entry.color}">
                                <div class="lesson-container" ng-if="entry.title != null"
                                     ng-class="{'lesson-lecture': entry.type == 'W', 'lesson-lab': entry.type == 'L', 'lesson-practice': entry.type == 'C'}"
                                     ng-style="{'height': entry.height + 'px'}">
                                    <div style="padding: 7px 5px 0 5px">
                                        <span class="lesson-title">{{entry.title}}</span>
                                        <span class="lesson-type">({{entry.type}})</span>
                                    </div>
                                    <div style="padding-top: 5px">
                                        <span class="lesson-time">{{getFormattedTime(entry.start)}} - {{getFormattedTime(entry.end)}}</span>
                                        <span class="lesson-room">({{entry.room}})</span>
                                    </div>
                                    <div style="padding-top: 5px">
                                        <span class="lesson-with">{{entry.with}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
