
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySubjectEntryLabel" translate="misApp.subjectEntry.home.createOrEditLabel">Create or edit a SubjectEntry</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="subjectEntry.id" readonly />
        </div>

        <div class="form-group">
            <label translate="misApp.subjectEntry.subject" for="field_subject">subject</label>
            <select class="form-control" id="field_subject" name="subject" ng-model="subjectEntry.subject" ng-options="subject as subject.name + ' (' + subject.type + ')' for subject in subjects track by subject.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="misApp.subjectEntry.teacher" for="field_teacher">teacher</label>
            <select class="form-control" id="field_teacher" name="teacher" ng-model="subjectEntry.teacher" ng-options="teacher as teacher.user.firstName + ' ' + teacher.user.lastName for teacher in teachers track by teacher.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="misApp.subjectEntry.studentGroup" for="field_studentGroup">studentGroup</label>
            <select class="form-control" id="field_studentGroup" name="studentGroup" ng-model="subjectEntry.studentGroup" ng-options="studentGroup as studentGroup.name for studentGroup in studentgroups track by studentGroup.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
